/tmp/
/main.aux
/main.log
/main.nav
/main.out
/main.snm
/main.toc
/main.pdf
/aula.pdf
/*.synctex.gz
# Created by https://www.gitignore.io/api/latext

#!! ERROR: latext is undefined. Use list command to see defined gitignore types !!#
# Created by https://www.gitignore.io/api/latex

### LaTeX ###
*.acn
*.acr
*.alg
*.aux
*.bbl
*.bcf
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.run.xml
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo

